#id_title {
	width: 300%;
	padding: 6px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	height: 40px;
}

#addItem {
	width: 20%;
	padding: 6px 20px;
	margin: 8px 3px;
	height: 40px;
}

#row {
	position: relative;
	justify-content: center;
}

#addTodobtn {
	margin: 7px 0px 0px 5px;
	height: 42px;
	font-size: 20px;
}

.submit {
	background-color: #6BA3E8;
}

.center-column {
	width: 83%;
	margin: 10px auto;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 6px 2px 30px 0px rgba(0, 0, 0, 0.75);
	position: relative;
	justify-content: center;
}

a:link {
	color: white;
}

.card-body {
	border-radius: 3px;
	box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.75);
	justify-self: center;
}

hr {
	border-top: .5px solid black;
}

#id_completed {
	border: 2px solid black;
}

.item-row {
	background-color: #906abd;
	margin: 10px;
	padding: 10px;
	border-radius: 3px;
	color: #fff;
	font-size: 16px;
	box-shadow: 0px -1px 10px -4px rgba(0, 0, 0, 0.75);
}

.btn-danger {
	background-color: #ffae19;
	border-color: #e59400;
}

.user {
	color: white;
}

h3,
h4,
h2,
h5 {
	text-align: center;
}

.update_todo {
	margin: 0 auto;
	float: none;
	width: 70%;
	text-align: center;
	justify-content: center;
}

.container {
	margin-top: 1%;
}

form #form-create {
	text-align: center;
}

.page-link {
	border: 0.5px solid #3058f4;
	border-radius: 2px;
}

#update_todo,
#update_task {
	font-size: large;
	height: 30px;
}

#update_task_list,
#update_todo_list {
	max-width: max-content;
	/* justify-content: center; */
}