* {
    padding: 0;
    margin: 0;
}

.content-section {
    width: 50% !important;
    margin-left: 22%;
    margin-right: 22%;
}

legend {
    text-align: center;
}

button {
    display: flex;
}

#title-input {
    width: 300%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 40px;
}

#update_modal {
    font-size: 24px;
    color: black;
}

#addItem {
    width: 20%;
    padding: 6px 20px;
    margin: 8px 3px;
    height: 40px;
}

#addTaskinput {
    width: 90%;
}

#row {
    position: relative;
    justify-content: center;
}

#addTodobtn {
    margin: 7px 0px 0px 5px;
    height: 42px;
    font-size: 20px;
}

.center-column {
    width: 83%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    justify-content: center;
}

.card-body {
    border-radius: 3px;
    box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.75);
    justify-self: center;}

hr {
    border-top: 2px solid black;
}

h3,
h4,
h2,
h5 {
    text-align: center;
}

.page-link {
    font-size: 15px;
    border: 0.5px solid #3058f4;
    border-radius: 2px;
}

#update_task_list,
#update_todo_list {
    width: 100%
}

#update_todoinp,
#update_taskinp {
    font-size: large;
    height: 30px;
    width: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.incompleteTodo-task{
    background-color: #b8daff !important;
}

#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.form-control {
    border: 1px solid #343a40 !important;
}

.form-control:focus {
    border-color: #007bff !important;
}
