{% extends 'todo/index.html' %}


{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<style type="text/css">
		.h3{
			text-align: center;
		}

		.container{
			margin-top: 10%;
		}

		.card-body{
			
		}
	</style>

	<div class="container">
		<div class="card card-body">

			<h3 class="h3">Are You sure you want to delete "{{task}}"?</h3>


			<form method="POST" action="">
				{% csrf_token %}
				<input type="submit" class="btn btn-warning" name="Yes Delete!">

			</form>

			<a class="btn btn-primary" href="{% url 'my_task' %}">Cancel</a>
			
		</div>
	</div>


</body>
</html>

{% endblock %}

