{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>ToDo-App</title>

	<link type="text/css" rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/fontawesome.css' %}">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bsmodal.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.slim.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

	<nav class="navbar navbar-dark bg-dark">
	    <h3 class="navbar-brand">To-Do App</h3>
        {% if user.is_authenticated %}
        	<h3 class="card-title user">Hello {{ request.user.username|upper }}</h3>
        	<div class="form-inline">
            	<a class="nav-item nav-link" href="{% url 'logout' %}"><button class="btn-sm btn-primary">Logout</button></a>
            </div>
        {% else %}  
        	<div class="form-inline">              
	            <a class="nav-item nav-link" href="{% url 'login' %}"><button class="btn-sm btn-primary">Login</button></a>
	            <a class="nav-item nav-link" href="{% url 'register' %}"><button class="btn-sm btn-warning">Register</button></a>
	        </div>
        {% endif %}		
	</nav>

	<div class='container'>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
