{% extends 'todo/index.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form | crispy }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-sm btn-outline-danger px-lg-4" type="submit">Login</button>
            </div>

            <div class="border-top text-right pt-3">
                <medium class="text-muted">
                    Don't Have an Account?
                    <a href="{% url 'register' %}" class="btn btn-sm btn-outline-success ml-2 px-lg-3">
                        Sign Up
                    </a>
                </medium>
            </div>
        </form>
    </div>

{% endblock %}