{% extends 'todo/index.html' %}
{% load crispy_forms_tags %}


{% block content %}

	<nav aria-label="...">
		<ul class="pagination justify-content-center">

			<!-- pagination - previous pages -->
			{% if page_obj.has_previous or page_obj2.has_previous %}

				<li class="page-item">
					{% if page_obj.has_previous %}

						<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Prev</a>
					
					{% else %}

						<a class="page-link" href="?page={{ page_obj2.previous_page_number }}" tabindex="-1">Prev</a>

					{% endif %}
				</li>

			{% endif %}

			<!-- pagination - current page -->
			<li class="page-item active">

				{% if page_obj.has_next_page %}

					<a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>


				{% else %}

					<a class="page-link" href="?page={{ page_obj2.number }}">{{ page_obj2.number }}</a>

				{% endif %}

			</li>

			<!-- pagination - Next pages -->
			{% if page_obj.has_next or page_obj2.has_next %}

				<li class="page-item">
					{% if page_obj.has_next %}

						<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
					
					{% else %}

						<a class="page-link" href="?page={{ page_obj2.next_page_number }}">Next</a>

					{% endif %}
				</li>

			{% endif %}


		</ul>
	</nav>


	<div class="center-column">

		<h2 class="heading" style="text-align: center;">Hello {{ request.user.username }}, Here's your ToDo List</h2>
		
		<form action="" method="POST" id='form-create'>
			{% csrf_token %}
			<div style="text-align: center;">

				{{ todo_form.title }}
				
				<button type="submit" class="form-control btn btn-primary mb-3 mr-sm-2">Add Items</button>

			</div>
			
		</form>


		<h4 class="heading" style="text-align: center;">Upcoming ToDo Items</h4><br>
		<div class="row">
	        <div class="col" id="upcomItem">
	            <ul class="list-group" id="upcomingItems">

	                {% for i in page_obj %}

						<li class="list-group-item list-group-item-primary mb-2" id="upcomingItem">{{ i.title }}

							<div class="float-right">

								<button type="submit" class="btn-sm btn-danger ml-2 mt-2 mr-2 mb-1"><a href="{% url 'delete_todo' i.id %}">Delete</a></button>
								
							</div>

							<div class="float-right">

								<button type="submit" class="btn-sm btn-success ml-2 mt-2 mr-2 mb-1" id="update_btn"><a href="{% url 'update_todo' i.id %}">Update</a></button>

							</div>

							<div class="float-right">
						
								<button type="submit" class="btn-sm btn-dark ml-2 mt-2 mr-2 mb-1" id="completed_btn"><a href="{% url 'completed_todo' i.id %}">Completed</a></button>

							</div>				
										
						</li>
							
                	{% endfor %}

           		</ul>
        	</div>
    	</div>

		<hr style="border-top: 1px solid #999; ">
    	<div class="row">
	        <div class="col">
	        	<h4 class="heading" style="text-align: center;">Completed ToDo Items</h4>
	            <ul class="list-group" id='compItems'>


	                {% for i in page_obj2 %}<hr>

                    	<li class="list-group-item list-group-item-primary mb-2" id="upcomingItem">{{ i.title }}

						<div class="float-right">

							<button type="submit" class="btn-sm btn-danger ml-2 mt-2 mr-2 mb-1"><a href="{% url 'delete_todo' i.id %}">Delete</a></button>
								
						</div>								

						<div class="float-right">

							<button type="submit" class="btn-sm btn-success ml-2 mt-2 mr-2 mb-1" ><a href="{% url 'update_todo' i.id %}">Update</a></button>

						</div>
                    	</li>
                	{% endfor %}

           		</ul>
        	</div>
    	</div>

	</div>

{% endblock %}
