{% extends 'todo/index.html' %}
{% block content %}
<div class="center-column" id="center-column">
    <h5 class="card-title" id="welcome" data-id={{ request.user.id }}>Hello {{ request.user.username|capfirst }}, Create your todo list's</h5>
    <div id="addTodoForm">
        <form action="" method="">
            <div class="input-group-append">
                <input type="text" id="id_title" required name='title'>
                <button type="submit" class="form-control btn btn-primary mr-sm-2" id="addTodobtn">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
<div class="row" id="row">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Incomplete Todo Items
                </h5>
                <hr />
                <div class="list-group flex-wrap" id="incompleteTodo">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Completed Todo Items
                </h5>
                <hr>
                <div class="list-group" id="completedTodo">
                </div>
            </div>
        </div>
    </div>
    {% include 'todo/script.html' %}
</div>
{% endblock %}