{% extends 'todo/index.html' %}

{% block content %}

	<div class="center-column">

		<h2 class="heading" style="text-align: center;">Hello {{ request.user.username }}, Here's your ToDo List</h2>
		
		<form action="{% url 'home' %}" method="POST" >
			{% csrf_token %}
			<div style="text-align: center; width:100%;">
				{{ todo_form.title }}

				<button type="submit" class="form-control btn btn-primary mb-3 mr-sm-2">Add Items</button>

			</div>
			
		</form>


		<h4 class="heading" style="text-align: center;">Upcoming ToDo Items</h4><br>
		<div class="row">
	        <div class="col">
	            <ul class="list-group">
	                {% for i in todo_items_upcoming %}

						<li class="list-group-item list-group-item-primary mb-2" id="upcomingItem">{{ i.title }}

							<div class="float-right">

								<button type="submit" class="btn-sm btn-danger ml-2 mt-2 mr-2 mb-1"><a href="{% url 'delete_todo' i.id %}">Delete</a></button>
								
							</div>

							<div class="float-right">

								<button type="submit" class="btn-sm btn-success ml-2 mt-2 mr-2 mb-1" ><a href="{% url 'update_todo' i.id %}">Update</a></button>

							</div>
						
						</li>
							
                	{% endfor %}
           		</ul>
        	</div>
    	</div>

		<hr style="border-top: 1px solid #999; ">
    	<div class="row">
	        <div class="col">
	        	<h4 class="heading" style="text-align: center;">Completed ToDo Items</h4>
	            <ul class="list-group" id='compItems'>

	                {% for i in todo_items_completed %}<hr>

                    	<li class="list-group-item list-group-item-primary mb-2" id="upcomingItem">{{ i.title }}

						<div class="float-right">
							<form action="{% url 'delete_todo' i.id %}" method="POST">
								{% csrf_token %}
								<button type="submit" class="btn-sm btn-danger ml-2 mt-2 mr-2 mb-1">Delete</button>
							</form>
						</div>
							

						<div class="float-right">

							<button type="submit" class="btn-sm btn-success ml-2 mt-2 mr-2 mb-1" ><a href="{% url 'update_todo' i.id %}">Update</a></button>

						</div>
                    	</li>
                	{% endfor %}

           		</ul>
        	</div>
    	</div>


	</div>



{% endblock %}
