{% extends 'todo/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-sm btn-success" type="submit">Sign Up</button>
            </div>
        </form>

        <div class="border-top text-right pt-3">
            <medium class="font-italic text-muted">
                Already Have an Account?
                <a href="{% url 'login' %}" class="btn btn-sm btn-primary ml-2">
                    Login
                </a>
            </medium>
        </div>
    </div>

{% endblock %}