{% extends 'todo/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom text-center mb-4">Register</legend>
                {{ form | crispy }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-success px-lg-3" type="submit">Sign Up</button>
            </div>
        </form>

        <div class="border-top text-right pt-3">
            <medium class="text-muted">
                Already Have an Account?
                <a href="{% url 'login' %}" class="btn btn-sm btn-outline-dark ml-2 px-lg-3">
                    Login
                </a>
            </medium>
        </div>
    </div>

{% endblock %}