<script type="text/javascript">
        
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    var activeItem = null;
    TodolistIncomplete()
    function TodolistIncomplete() {
        var todoListIncomplete = 'http://127.0.0.1:8000/api/todo-list-incomplete/';
        var incomplete = document.getElementById('incompleteTodo');
        incomplete.innerHTML = '';

        fetch(todoListIncomplete)
            .then((response) => response.json())
            .then(function(data) {

                var todoItems = data;
                for (var todo in todoItems) {
                    var t = todoItems[todo].tasks;
                    var info = 
                        `<div class="list-group-item list-group-item-primary mb-1 flex-wrap" id="todo-${todo}"
                            data-id="${todoItems[todo].id}" name="todo_${todoItems[todo].id}">
                            <span class='title'>${todoItems[todo].title}</span>
                            <div class="float-right">
                                <badge type="submit" class="badge badge-warning delete-todo">
                                    ❌
                                </badge>
                            </div>
                            <div class="float-right">
                                <badge type="submit" class="badge badge-light mr-1 completed-todo">
                                    &#10004;
                                </badge>
                            </div>          
                            <div class="float-right">
                                <badge type="submit" class="badge badge-dark mr-1 edit">
                                    edit
                                </badge>
                            </div>
                            <div class="float-right mr-1">
                                <badge type="submit" class="badge badge-primary add-task" data-open='add-task'>
                                    &#x271A;
                                </badge>
                            </div>                        
                            <div class="card mt-3 flex-wrap incompleteTodo-task">
                                ${todoItems[todo].tasks ? taskStatus(todoItems[todo].tasks) : ''}  
                            </div>   
                        </div>`

                    incomplete.innerHTML += info;

                };
                for (var todo in todoItems){
                    var editTodoBtn = document.getElementsByClassName('edit')[todo]
                    var completedTodoBtn = document.getElementsByClassName('completed-todo')[todo]
                    var deleteTodoBtn = document.getElementsByClassName('delete-todo')[todo]
                    var addTaskBtn = document.getElementsByClassName('add-task')[todo]

                    editTodoBtn.addEventListener('click', (function(element){
                        return function(){
                            editItem(element)
                        }
                        
                    })(todoItems[todo]))

                    $('.add-task').click(function(){
                        $('#add-task').modal() 
                    })
                    // addTaskBtn.addEventListener('click', (function(element){
                    
                                     
                    // })(todoItems[todo]))

                    completedTodoBtn.addEventListener('click', (function(element){
                        return function(){
                            completedTodo(element)
                        }
                    })(todoItems[todo]))

                    deleteTodoBtn.addEventListener('click', (function(element){
                        return function(){
                            deleteTodo(element)
                        }
                    })(todoItems[todo]))

                    var a = todoItems[todo].tasks
                    for (var t in a){
                        var deleteTaskBtn = document.getElementsByClassName('delete-task')[t]
                        var completeTaskBtn = document.getElementsByClassName('complete-task')[t]
                        var editTaskBtn = document.getElementsByClassName('edit-task')[t]

                        deleteTaskBtn.addEventListener('click', (function(element){
                            return function(){
                                deleteTask(element)
                            }
                        })(a[t]))

                        
                        completeTaskBtn.addEventListener('click', (function(element){
                            return function(){
                                completedTask(element)
                            }
                        })(a[t]))

                        editTaskBtn.addEventListener('click', (function(element){
                            return function(){
                                editTaskItem(element)
                            }
                        })(a[t]))
                    }             
                };
            });

        function taskStatus(item) {
            return `
                ${item.map(task =>
                    `${task.completed==false ? 
                        `
                        <div class="list-group-item list-group-item-danger mb-1 flex-wrap" >
                            <span class='heading'>${task.heading} ${task.completed}</span>
                            <section class='float-right'>
                                <badge type="submit" class="badge badge-dark mr-1 edit-task">
                                    edit
                                </badge>
                                <badge type="submit" class="badge badge-light complete-task">
                                    &#10004;
                                </badge>
                                <badge type="submit" class="badge badge-warning ml-1 delete-task">
                                    ❌
                                </badge>
                            </section>
                        </div>`
                        :
                        `
                        <div class="list-group-item list-group-item-dark flex-wrap" >
                            <span class='heading'>${task.heading} ${task.completed}</span>
                            <section class='float-right'>
                                <badge type="submit" class="badge badge-warning delete-task">
                                    ❌
                                </badge>
                            </section>
                        </div>`
                    }` 
                ).join('')}
            `
        };

        function taskCompleted(item) {
            return `
                ${item.map(task => 
                    `<div class="card mt-3 flex-wrap" data-id=${task.id}>
                        <div class="list-group-item list-group-item-dark">
                            <span class='heading'>${task.heading}</span>
                            <section class='float-right'>
                                <badge type="submit" class="badge badge-warning ml-1" id="deleteTask">
                                    ❌
                                </badge>
                            </section>
                        </div>
                    </div>` 
                ).join('')}
            `
        };
    };

    TodolistCompleted()
    function TodolistCompleted() {
        var todoListCompletedAPI = 'http://127.0.0.1:8000/api/todo-list-completed/';
        var completed = document.getElementById('completedTodo');
        completed.innerHTML = '';

        fetch(todoListCompletedAPI)
            .then((response) => response.json())
            .then(function(data) {

                var todoItems = data;
                for (var todo in todoItems) {
                    var t = todoItems[todo].tasks;
                    var info = 
                        `<div class="list-group-item list-group-item-info completed-list mb-1 flex-wrap" id="todo"
                            data-id="${todoItems[todo].id}" name="todo_${todoItems[todo].id}">
                            <span class='title'>${todoItems[todo].title}</span>
                            <div class="float-right">
                                <badge type="submit" class="badge badge-warning mr-2 delete-todo">
                                    ❌
                                </badge>
                            </div>

                            ${todoItems[todo].tasks ? taskCompleted(todoItems[todo].tasks) : ''}     
                        </div>`
                    completed.innerHTML += info;

                };
                for (var todo in todoItems){
                    var deleteTodoBtn = document.getElementsByClassName('delete-todo')[todo]

                    deleteTodoBtn.addEventListener('click', (function(element){
                        return function(){
                            deleteTodo(element)
                        }
                    })(todoItems[todo]))

                    var a = todoItems[todo].tasks
                    for (var t in a){
                        var deleteTaskBtn = document.getElementsByClassName('delete-task')[t]

                        deleteTaskBtn.addEventListener('click', (function(element){
                            return function(){
                                deleteTask(element)
                            }
                        })(a[t]))
                    }
                };
            });

        function taskCompleted(item) {
            return `
                ${item.map(task => 
                    `<div class="card mt-3 flex-wrap" data-id=${task.id}>
                        <div class="list-group-item list-group-item-dark">
                            <span class='heading'>${task.heading}</span>
                            <section class='float-right'>
                                <badge type="submit" class="badge badge-warning ml-1 delete-task">
                                    ❌
                                </badge>
                            </section>
                        </div>
                    </div>` 
                ).join('')}
            `
        };
    };

    var addTodoBtn = document.getElementById('addTodobtn');
    addTodoBtn.addEventListener('click', function(e){
        e.preventDefault();
        var url = 'http://127.0.0.1:8000/api/create-todo/'
        if (activeItem!=null){
            var url = `http://127.0.0.1:8000/api/update-todo/${activeItem.id}/`
            activeItem = null
        }

        var title = document.getElementById('id_title').value
        var user_id = $('#welcome').data('id')
        fetch(url, {
            method:'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'title':title, 'user_id':user_id})
        }).then(function(response){
            $('#id_title').val('');
            TodolistIncomplete();
        });
    });

    function editItem(item){
        activeItem = item
        document.getElementById('id_title').value = activeItem.title;
    }

    function editTaskItem(item){
        console.log(item.heading)
        document.getElementById('id_title').value = item.heading;
    }

    function deleteTodo(item){
        console.log('Item Deleted', item.title)
        fetch(`http://127.0.0.1:8000/api/delete-todo/${item.id}`, {
            method:'DELETE',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken,
            },
        }).then((response) => {
            TodolistIncomplete();
            TodolistCompleted();
        })
    }

    function completedTodo(item){
        console.log('Completed Todo Clicked', item.title)
        var user_id = $('#welcome').data('id')
        item.completed =!item.completed
        fetch(`http://127.0.0.1:8000/api/complete-todo-task/${item.id}/`, {
            method:'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'title':item.title, 'user_id':user_id, 'completed':item.completed})
        }).then((response) => {
            TodolistIncomplete();
            TodolistCompleted();
        })
    }

    function completedTask(item){
        console.log('Completed Task Clicked', item.heading)
        var user_id = $('#welcome').data('id')
        item.completed =!item.completed
        fetch(`http://127.0.0.1:8000/api/complete-task/${item.id}/`, {
            method:'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'heading':item.heading, 'user':user_id, 
                'completed':item.completed, 'todo':item.todo, 'user_id':user_id, 'title':'title'})
        }).then((response) => {
            TodolistIncomplete();
            TodolistCompleted();
        })
    }

    function addNewTask(item){
        console.log('Add New Task Clicked: ', item.title)
    }

    function deleteTask(item){
        console.log('Delete Task Clicked: ', item.heading)
        var url = `http://127.0.0.1:8000/api/delete-task/${item.id}`
        fetch(url, {
            method:'DELETE',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken,
            },
        }).then((response) => {
            TodolistCompleted();
            TodolistIncomplete();
        })
    }
</script>