
<div class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm btn-primary ml-1 mt-1 mr-1 mb-1">
        <a href="{% url 'addTodo' i.id %}" data-toggle="modal" data-target="#staticBackdrop">
            Add
        </a>                
    </button>
    <!--Modal -->
	<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
		    <div class="modal-content">
		        <div class="modal-header">
		            <h5 class="modal-title" id="staticBackdropLabel">Add New Task</h5>
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                <span aria-hidden="true">&times;</span>
		            </button>
		        </div>

		        <div class="modal-body">
		            <form action="{% url 'addTodo' i.id %}" method="POST">
		                {% csrf_token %}
		                <div class="card">

		                    {{ task_form.heading }}

		                </div>
		                <div class="modal-footer">
		                    <button class="btn btn-success" type="submit">Submit</button>
		                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		                </div>
		            </form>
		        </div>
		    </div>
	    </div>
	</div>
</div>